<h2>Projects:</h2>
<section class="card-list">
    
    <article class="card">
        <header>
            
        </header>
        <footer class="card-header">
            <p>?</p>
            <h2>Wow this is a crazy project</h2>
        </footer>
    </article>

    <article class="card">
        <header>
            <img src="../../assets/IMG_3232.jpg" alt="Personal Website">
        </header>
        <footer class="card-header">
            <p>Built with Angular, etc.</p>
            <h2>Personal Website</h2>
        </footer>
    </article>

    <article class="card">
        <header>
            <img src="../../assets/IMG_3232.jpg" alt="Discord Bot">
        </header>
        <footer class="card-header">
            <p>Bot that shows relevant news articles based on 
                user query. 
            </p>
            <h2>Discord News Bot</h2>
        </footer>
    </article>


</section>