<h2>Projects</h2>
<hr>
<section class="card-list">
    
    <article class="card">
        <header>
            
        </header>
        <footer class="card-header">
            <h2>Wow this is a crazy project</h2>
            <p>?</p>
        </footer>
    </article>

    <article class="card">
        <header>
            <img src="../../assets/IMG_3232.jpg" alt="Personal Website">
        </header>
        <hr>
        <footer class="card-header">
            <h2>Personal Website</h2>
            <p>Built with Angular, etc.</p>
        </footer>
    </article>

    <article class="card">
        <header>
            <img src="../../assets/IMG_3232.jpg" alt="Discord Bot">
        </header>
        <footer class="card-header">
            <h2>Discord News Bot</h2>
            <p>Bot that shows relevant news articles based on 
                user query. 
            </p>
        </footer>
    </article>
</section>

<section class="card-list ideas">
    <h2>Ideas</h2>
    <article class="card">
        <header>
            
        </header>
        <footer class="card-header">
            <h2>Wow this is a crazy project</h2>
            <p>?</p>
        </footer>
    </article>

    <article class="card">
        <header>
            
        </header>
        <footer class="card-header">
            <h2>Wow this is a crazy project</h2>
            <p>?</p>
        </footer>
    </article>

    <article class="card">
        <header>
            
        </header>
        <footer class="card-header">
            <h2>Wow this is a crazy project</h2>
            <p>?</p>
        </footer>
    </article>
</section>