<h2>Projects</h2>
<hr>
<section class="card-list">
    <article class="card">
        <header>
            <img src="../../assets/Screen Shot 2020-11-25 at 12.14.35 PM.png" alt="Personal Website">
        </header>
        <hr>
        <footer class="card-header">
            <h2>Personal Website</h2>
            <p>This Website! Click to view the code!</p>
            <form action="https://github.com/KaranSaini/personal-website">
                <button>CODE</button>
            </form>
        </footer>
    </article>
    
    
    <article class="card">
        <header>
            <img src="../../assets/Screen Shot 2020-11-25 at 1.40.10 PM.png" alt="Bot Logo">
        </header>
        <footer class="card-header">
            <h2>News Bot</h2>
            <p>Bot that shows relevant news articles based on 
                user query. 
            </p>
            <form action="https://github.com/KaranSaini/discordNewsBot">
                <button>CODE</button>
            </form>
        </footer>
    </article>

    <article class="card">
        <header>
            
        </header>
        <footer class="card-header">
            <h2>Smaller Projects...</h2>
            <form action="https://github.com/KaranSaini?tab=repositories">
                <button>CODE</button>
            </form>
        </footer>
    </article>
</section>

<hr>

<h2 class="idea">Ideas/Works in Progress</h2>
<section class="card-list ideas">
    <article class="card idea">
        <header>
            
        </header>
        <footer class="card-header">
            <h2>Daily Goal App</h2>
            <p>Set your intentions in the morning</p>
            <form action="#">
                <button>Coming Soon...</button>
            </form>
        </footer>
    </article>

    <article class="card idea">
        <header>
            
        </header>
        <footer class="card-header">
            <h2>A Simple Tech News Website</h2>
            <p>Minimal News.</p>
            <form action="">
                <button>Coming Soon...</button>
            </form>
        </footer>
    </article>

    <article class="card idea">
        <header>
            
        </header>
        <footer class="card-header">
            <h2>MORE TO COME</h2>
            <p>Always Scheming</p>
        </footer>
    </article>
</section>