@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    background-color: #FFFEFF;
    font-family: 'Vollkorn SC', serif;
    background: white;
}

main {
    position: relative;
}